In [3]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///test2", echo = True)

In [13]:
from sqlalchemy.ext.declarative import declarative_base
base = declarative_base()

In [10]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

In [14]:
class User(base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column('passwd', String)
    
    def __repr__(self):
        return f'<Table User(name={self.name}, fullname={self.fullname}, password={self.password}>'

In [15]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('passwd', String(), table=<users>), schema=None)

In [16]:
base.metadata.create_all(engine)

2019-07-09 14:42:54,087 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:42:54,090 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:42:54,091 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 14:42:54,092 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:42:54,094 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 14:42:54,095 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:42:54,097 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	passwd VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 14:42:54,098 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:42:54,112 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
kim = User(name='kim',fullname='anonymous, Kim', password='kimbap')

print(kim)
print(kim.id)

<Table User(name=kim, fullname=anonymous, Kim, password=kimbap>
None

In [18]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [19]:
session.add(kim)

In [20]:
session.add_all([
    User(name="lee", fullname="unk, Lee", password = '123123s'),
    User(name="park", fullname="nobody park", password = '123ssss123s')    
])

In [22]:
session.commit()

2019-07-09 14:47:27,732 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:47:27,735 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:47:27,736 INFO sqlalchemy.engine.base.Engine ('kim', 'anonymous, Kim', 'kimbap')
2019-07-09 14:47:27,740 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:47:27,741 INFO sqlalchemy.engine.base.Engine ('lee', 'unk, Lee', '123123s')
2019-07-09 14:47:27,742 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:47:27,743 INFO sqlalchemy.engine.base.Engine ('park', 'nobody park', '123ssss123s')
2019-07-09 14:47:27,745 INFO sqlalchemy.engine.base.Engine COMMIT

In [28]:
session.add_all([
    User(name="Chi", fullname="unk, che", password = '123123s'), 
])

In [29]:
session.dirty

IdentitySet([])

In [30]:
session.commit()

2019-07-09 14:51:44,276 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 14:51:44,277 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 14:51:44,278 INFO sqlalchemy.engine.base.Engine ('Chi', 'unk, che', '123123s')
2019-07-09 14:51:44,282 INFO sqlalchemy.engine.base.Engine COMMIT

In [31]:
session.dirty

IdentitySet([])

In [32]:
for row in session.query(User):
    print(type(row))
    print(row.id, row.name, row.fullname, row.password)

2019-07-09 15:10:15,001 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:10:15,003 INFO sqlalchemy.engine.base.Engine SELECT users.passwd AS users_passwd, users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
2019-07-09 15:10:15,004 INFO sqlalchemy.engine.base.Engine ()
<class '__main__.User'>
1 kim anonymous, Kim kimbap
<class '__main__.User'>
2 lee unk, Lee 123123s
<class '__main__.User'>
3 park nobody park 123ssss123s
<class '__main__.User'>
4 Chi unk, che 123123s
<class '__main__.User'>
5 Chi unk, che 123123s