In [1]:
import sqlalchemy

In [2]:
engine = sqlalchemy.create_engine('sqlite:///newdb7.db', echo=True)

In [3]:
from sqlalchemy.ext.declarative import declarative_base

In [4]:
base = declarative_base()

In [5]:
from sqlalchemy import Table, Column, Integer, String

In [6]:
class User(base):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column('passwd', String)
    
    def __repr__(self):
        return f'<Table User(name={self.name}, fullname={self.fullname}, password={self.password}>'

In [7]:
from sqlalchemy.orm import sessionmaker

In [8]:
base.metadata.create_all(engine)

2019-07-09 06:23:12,502 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 06:23:12,504 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:23:12,506 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 06:23:12,513 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:23:12,515 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 06:23:12,521 INFO sqlalchemy.engine.base.Engine ()

In [9]:
Session = sessionmaker(bind=engine)

In [10]:
session = Session()

In [11]:
kim = User(name='test')

In [12]:
session.add(kim)

In [13]:
session.dirty

IdentitySet([])

In [14]:
session.commit()

2019-07-09 06:23:12,610 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 06:23:12,615 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 06:23:12,619 INFO sqlalchemy.engine.base.Engine ('test', None, None)
2019-07-09 06:23:12,624 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
session.dirty

IdentitySet([])

In [32]:
engine = sqlalchemy.create_engine('sqlite:///newdb8.db', echo=True)
base = declarative_base()

In [33]:
class Artist(base):
    __tablename__ = 'Artist'

    id = Column('id', Integer, primary_key=True)
    name = Column('name', String, nullable=False)
    
class Album(base):
    __tablename__ = 'Album'
    
    id = Column('id', Integer, primary_key=True)
    title = Column('title', String, nullable=False)
    artist_id = Column('artist_id', Integer, sqlalchemy.ForeignKey('Artist.id'))
    
class Genre(base):
    __tablename__ = 'Genre'
    
    id = Column('id', Integer, primary_key=True)
    name = Column('name', String, nullable=False)
    
class Track(base):
    __tablename__ = 'Track'
    
    id = Column('id', Integer, primary_key=True)
    title = Column('title', String, nullable=False)
    length = Column('length', Integer, nullable=False)
    rating = Column('rating', Integer, nullable=False)
    count = Column('count', Integer, nullable=False)
    album_id = Column('album_id', Integer, sqlalchemy.ForeignKey('Album.id'))
    genre_id = Column('genre_id', Integer, sqlalchemy.ForeignKey('Genre.id'))

In [37]:
base.metadata.create_all(engine)

2019-07-09 06:31:45,303 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 06:31:45,307 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:31:45,309 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 06:31:45,314 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:31:45,317 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 06:31:45,317 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:31:45,321 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 06:31:45,323 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:31:45,327 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 06:31:45,328 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:31:45,329 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 06:31:45,331 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:31:45,332 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 06:31:45,341 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:31:45,345 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 06:31:45,346 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 06:31:45,347 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:31:45,351 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 06:31:45,353 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2019-07-09 06:31:45,353 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:31:45,361 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 06:31:45,364 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2019-07-09 06:31:45,364 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:31:45,371 INFO sqlalchemy.engine.base.Engine COMMIT

In [38]:
art1 = Artist(name='Artist1')
art2 = Artist(name='Artist2')

In [39]:
Session = sessionmaker(bind=engine)
session = Session()

In [40]:
session.add_all([art1, art2])

In [41]:
session.commit()

2019-07-09 06:31:49,081 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 06:31:49,085 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 06:31:49,087 INFO sqlalchemy.engine.base.Engine ('Artist1',)
2019-07-09 06:31:49,090 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 06:31:49,092 INFO sqlalchemy.engine.base.Engine ('Artist2',)
2019-07-09 06:31:49,095 INFO sqlalchemy.engine.base.Engine COMMIT

In [45]:
result = session.query(Track.title, Album.title, Genre.name, Artist.name).all()

2019-07-09 06:32:24,994 INFO sqlalchemy.engine.base.Engine SELECT "Track".title AS "Track_title", "Album".title AS "Album_title", "Genre".name AS "Genre_name", "Artist".name AS "Artist_name"
FROM "Track", "Album", "Genre", "Artist"
2019-07-09 06:32:24,999 INFO sqlalchemy.engine.base.Engine ()

In [48]:
result = session.query(Track.title, Album.title, Genre.name, Artist.name).select_from(Track).join(Album).join(Genre).join(Artist)

In [50]:
result.all()

2019-07-09 06:32:48,156 INFO sqlalchemy.engine.base.Engine SELECT "Track".title AS "Track_title", "Album".title AS "Album_title", "Genre".name AS "Genre_name", "Artist".name AS "Artist_name"
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 06:32:48,161 INFO sqlalchemy.engine.base.Engine ()

[('Black Dog', 'IV', 'Rock', 'Artist1'),
 ('Stairway', 'IV', 'Rock', 'Artist1'),
 ('About to Rock', 'Who Made Who', 'Metal', 'Artist2'),
 ('Who Made Who', 'Who Made Who', 'Metal', 'Artist2')]

In [2]:
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///newdb10.db', echo=True)

In [18]:
from sqlalchemy.ext.declarative import declarative_base
base = declarative_base(bind=engine)

In [21]:
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy.orm import relationship

In [22]:
class Artist(base):
    __tablename__ = 'Artist'

    id = Column('id', Integer, primary_key=True)
    name = Column('name', String, nullable=False)
    
    albumList = relationship('Album', back_populates='artist')
    
class Album(base):
    __tablename__ = 'Album'
    
    id = Column('id', Integer, primary_key=True)
    title = Column('title', String, nullable=False)
    artist_id = Column('artist_id', Integer, sqlalchemy.ForeignKey('Artist.id'))
    
    artist = relationship('Artist', back_populates='albumList', uselist=False)
    trackList = relationship('Track', back_populates='album')
    
class Genre(base):
    __tablename__ = 'Genre'
    
    id = Column('id', Integer, primary_key=True)
    name = Column('name', String, nullable=False)
    
    trackList = relationship('Track', back_populates='genre')
    
class Track(base):
    __tablename__ = 'Track'
    
    id = Column('id', Integer, primary_key=True)
    title = Column('title', String, nullable=False)
    length = Column('length', Integer, nullable=False)
    rating = Column('rating', Integer, nullable=False)
    count = Column('count', Integer, nullable=False)
    album_id = Column('album_id', Integer, sqlalchemy.ForeignKey('Album.id'))
    genre_id = Column('genre_id', Integer, sqlalchemy.ForeignKey('Genre.id'))
    
    album = relationship('Album', back_populates='trackList', uselist=False)
    genre = relationship('Genre', back_populates='trackList', uselist=False)

In [24]:
base.metadata.create_all(engine)

2019-07-09 06:46:59,018 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 06:46:59,022 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:46:59,024 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 06:46:59,031 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:46:59,037 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 06:46:59,039 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:46:59,040 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 06:46:59,045 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:46:59,047 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 06:46:59,047 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:46:59,049 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 06:46:59,049 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:46:59,050 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 06:46:59,058 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:46:59,064 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 06:46:59,064 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 06:46:59,066 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:46:59,069 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 06:46:59,070 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2019-07-09 06:46:59,073 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:46:59,081 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 06:46:59,082 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2019-07-09 06:46:59,083 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 06:46:59,088 INFO sqlalchemy.engine.base.Engine COMMIT