In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine("sqlite:///newdb1.db", echo=True)

In [9]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy.orm import relationship, backref, sessionmaker

In [10]:
base = declarative_base()

base

sqlalchemy.ext.declarative.api.Base

In [11]:
class Artist(base):
    __tablename__ = "Artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    albumList = relationship("Album", back_populates="artist")
    
class Album(base):
    __tablename__ = "Album"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    
    artist = relationship("Artist", back_populates="albumList", uselist=False)
    trackList = relationship("Track", back_populates="album")

class Genre(base):
    __tablename__ = "Genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    trackList = relationship("Track", back_populates="genre")
    
class Track(base):
    __tablename__ = "Track"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer, ForeignKey("Album.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))
    
    album = relationship("Album", back_populates="trackList", uselist=False)
    genre = relationship("Genre", back_populates="trackList", uselist=False)

In [12]:
base.metadata.create_all(engine)

2019-07-09 15:52:12,982 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:52:12,985 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:12,986 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:52:12,987 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:12,989 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 15:52:12,989 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:12,992 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 15:52:12,993 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:12,994 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 15:52:12,996 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:12,997 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 15:52:12,998 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:13,000 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 15:52:13,001 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:13,011 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 15:52:13,012 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 15:52:13,013 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:13,021 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 15:52:13,022 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2019-07-09 15:52:13,023 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:13,031 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 15:52:13,032 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR,
	length INTEGER,
	rating INTEGER,
	count INTEGER,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2019-07-09 15:52:13,033 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:13,041 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
base.metadata.create_all(engine)

2019-07-09 15:52:15,710 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 15:52:15,711 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:15,712 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 15:52:15,713 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:15,714 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 15:52:15,715 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:52:15,716 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 15:52:15,717 INFO sqlalchemy.engine.base.Engine ()