# DB실습

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect(':memory:')

In [4]:
cur = conn.cursor()
#커서 객체 생성
#해당 데이터베이스의 커서로 부터 생성됨

In [5]:
type(cur)

sqlite3.Cursor

In [6]:
dir(cur)
#executemany: 하나의 sql문으로 시퀀스한 데이터를 입력할 때 사용함
#executescript: 여러개의 sql문을 사용할 때

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [7]:
dir(conn)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

In [8]:
cur.execute("select sqlite_version()")

In [9]:
cur.fetchall()

[('3.8.11',)]

In [10]:
sqlite3.complete_statement("select sqlite_version()")
#sql 구문을 마지막까지 썼는지 확인해 준다.
#sql 끝나고 ; 필수 -> 그러므로 False
#위에서 결과가 나온 이유는 한개의 sql문으로 끝나서,

False

NULL  
INTEGER  
REAL 실수형   
TEXT  
BLOB

In [11]:
cur.execute("create table people (name_last,age)")
who = "Yeltsin"
age = 72
#전체 컬럼이 두개일떄 우리가 넣을 값도 2개임으로 coulmn명 생략
#execute : 하나의 sql문 실행

In [12]:
cur.execute("insert into people values (?,?)", (who, age))
#큐 마크 스타일
#데이터구조가 복잡하거나 변수명이 섞이면 쓰기힘들다.
#변수 생성없이 바로 값을 넣음

In [25]:
#named style
cur.execute("""
    select * 
    from people 
    where name_last =:who and age=:age"""
, {"who":who, "age":age})
cur.fetchone()

#키와 value쌍으로 변수명과 변수를 넣음 
#쿼리를 건드리지 않은채 데이터부분만 바꾸면됨
#변수를 설정해서 넣음

('Yeltsin', 72)

In [28]:
data = [("A",1), ("B",2), ("C",3)]
cur.executemany("insert into people values (?,?)", data)

In [29]:
dataDict = [{"who":"E", "age":1}, {"who":"F", "age":1}]
cur.executemany("Insert into people values(:who, :age)",dataDict)

In [30]:
cur.execute("SELECT * from people")
cur.fetchall()

#여태까지는 sql문을 딱 하나 밖에 못함

[('Yeltsin', 72),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('A', 1),
 ('B', 2),
 ('C', 3),
 ('E', 1),
 ('F', 1)]

# EXCUTESCRIPT

commit을 자동으로 한다. 
데이터베이스에 테이블생성하고 insert하는 것을 한번에 실행할 수 있다.

In [31]:
cur.executescript("""
    create table person (
        first_name text primary key,
        last_name text not null
    );
    
    insert into person values ('name', 'kim');
""")
#select는 따로 만들어 줘야함

In [32]:
cur.execute('select * from person')
print(cur.fetchall())

#사용법이기때문에 구문을 알고 있어야함.
#fetch할 때 어떻게 해야하는지 알아야함 
#list에 tuple로 들어가 있음.

[('name', 'kim')]

In [35]:
cur.fetchone()
#한 row, 한 tuple, 한 record를 가지고옴 -> a single sequence, 리스트형식으로

In [36]:
cur.fetchall()
#전부다 가지고 옴

[]

In [38]:
conn.execute('drop table person')

In [39]:
conn.execute('drop table people')

DB Browser for SQLite

In [41]:
conn = sqlite3.connect('create.db')

In [42]:
print("Opened database successfully")

Opened database successfully

In [43]:
cur = conn.cursor()

In [44]:
cur.execute('''
    CREATE TABLE COMPANY(
        ID int PRIMARY KEY NOT NULL,
        NAME TEXT NOT NULL,
        AGE INT NOT NULL,
        ADDRESS CHAR(50),
        SALARY REAL);
    ''')
print("Table created successfully")

Table created successfully