## Python 자체 지원 패키지

In [1]:
import sqlite3

## package version

In [2]:
sqlite3.version

'2.6.0'

In [3]:
sqlite3.version_info

(2, 6, 0)

## sqlite3 DB engine version

In [4]:
sqlite3.sqlite_version

'3.22.0'

In [9]:
sqlite3.sqlite_version_info

(3, 22, 0)

---

# Chapter 1. Database Connection 객체 만들기

In [13]:
conn = sqlite3.connect('test.db')

# Chapter 2. Connection Cursor 객체 만들기

In [14]:
cur = conn.cursor()

# Chapter 3. DDL Transaction 날리기

In [27]:
sql = """CREATE TABLE TEST(
    T_ID INT NOT NULL PRIMARY KEY,
    T_NAME VARCHAR(200)
);
"""

In [16]:
sql

'CREATE TABLE TEST(\n    T_ID INT NOT NULL PRIMARY KEY,\n    T_NAME VARCHAR(200)\n)\n'

In [17]:
cur.execute(sql)

# Chapter 4. DML Transaction 날리기

In [28]:
sql = """INSERT INTO TEST(T_ID, T_NAME)
VALUES(1, "안녕하세요");
"""

In [19]:
cur.execute(sql)

In [20]:
conn.commit()

# Chapter 5. SELECT Transaction 날리기

In [25]:
sql = """SELECT *
FROM TEST;
"""

In [22]:
cur.execute(sql)

In [23]:
cur.fetchall()

[(1, '안녕하세요')]

## Query 구문 체크

In [29]:
sql = """SELECT *
"""

In [30]:
sqlite3.complete_statement(sql)

False

In [32]:
sql = """SELECT *
FROM TEST;
"""

In [33]:
sqlite3.complete_statement(sql)

True

# Chapter 6. Query Binding

In [37]:
sql = 'SELECT * FROM TEST WHERE T_ID = ?;'
values = (1, )

In [38]:
cur.execute(sql, values)

In [40]:
cur.fetchall()

[(1, '안녕하세요')]

In [55]:
sql = 'INSERT INTO TEST VALUES(?, ?)'
values = [(4, 'HIHI'), (5, 'ㅎㅇ')]

In [56]:
cur.executemany(sql, values)

In [57]:
conn.commit()

In [58]:
cur.execute('select * from TEST;')

In [59]:
cur.fetchall()

[(1, '안녕하세요'), (2, '안녕'), (3, '안녕안녕'), (4, 'HIHI'), (5, 'ㅎㅇ')]

In [60]:
sql = '''SELECT *
FROM TEST
WHERE T_ID = :T_ID
AND T_NAME = :T_NAME;
'''
values = {'T_ID': 1, 'T_NAME': '안녕하세요'}

In [61]:
cur.execute(sql, values)

In [62]:
cur.fetchall()

[(1, '안녕하세요')]

In [69]:
values = [
    {'T_ID': 6, 'T_NAME': '안녕하세요'},
    {'T_ID': 7, 'T_NAME': '안녕'}
]

In [70]:
sql = """INSERT INTO TEST
VALUES(:T_ID, :T_NAME);
"""

In [71]:
cur.executemany(sql, values)

In [73]:
conn.commit()

In [74]:
cur.execute('select * from TEST;')

In [75]:
cur.fetchall()

[(1, '안녕하세요'),
 (2, '안녕'),
 (3, '안녕안녕'),
 (4, 'HIHI'),
 (5, 'ㅎㅇ'),
 (6, '안녕하세요'),
 (7, '안녕')]

---

## fetch

In [76]:
sql = """
CREATE TABLE PERSON(
    FIRST_NAME TEXT PRIMARY KEY,
    LAST_NAME TEXT NOT NULL
);

INSERT INTO PERSON VALUES ('first', 'last');
"""

In [78]:
cur.executescript(sql)

In [80]:
conn.commit()

In [82]:
cur.execute('SELECT * FROM PERSON')

In [83]:
cur.fetchall()

[('first', 'last')]

In [84]:
cur.close()
conn.close()

In [85]:
conn

---

In [86]:
conn = sqlite3.connect('create.db')

In [ ]:
conn.execute()